.roboto-uniquifier > {
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  /* border: 1px #cf9376 solid; */
}

body {
  margin: 0;
}

.wrapper {
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
}

nav {
  color: #f9faf8;
}

header {
  background-color: #1f2937;
}
/* top nav start */
.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 32px;
}

.logo {
  font-size: 24px;
  color: #f9faf8;
}

.nav-links {
  display: flex;
  gap: 16px;
}

/* top nav end */

/* hero section start */

main {
  background-color: #1f2937;
  color: #f9faf8;
}

h1 {
  font-size: 48px;
  font-weight: 900;
}

main p {
  font-size: 18px;
  color: #e5e7eb;
}

main button {
  background-color: #3882f6;
  border: none;
  border-radius: 6px;
  color: #f9faf8;
  font-weight: 500;
  height: 32px;
  width: 100px;
}

.main-container {
  display: flex;
  justify-content: space-between;
  gap: 32px;
  padding: 0 32px;
}

.main-container div {
  flex: 1;
}

.img-placeholder {
  background-color: #595c63;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
/* hero section end */

/* random info section start */

.section-random-info {
  background-color: #f9faf8;
  display: flex;
}

/* random info section end */
